<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
    <div class="header">
        <h1>Twitter</h1>
        
    </div>
    <form  method="POST" action="for_pass"> 
        <input type="email" name="email" id="email">
        <input type="submit" value="submit">
    </form>

    <form  id="for_pass"  name="main_form" action="for_pass" method="POST">
        <h4>Forgot Password</h4>
            
                 <div><label for="Userhandle">Email ID</label></div>
        <input name="email" id="email" type="text" placeholder="Enter email" required="" >
               
                
                
        <div><a href="/login.html"><label for="forgot_password" style="font-size:0.7em;"> Login </label></a></div>
       <br> <!--<input   class="button" type="submit" value="Login" name="submit" onclick="get()" id="getButton">-->
       
       
       
      </form>	
    <center> <button  type="submit" id="getButton" class="button" onclick="get()">SUBMIT</button></center> 
      <p id="getResponse"> </p>
      <div class="signup">
      <p> <a href="registration.html">Don't Have an acccount ? </a></p><br>
     
    </div>
      <!-- <script type="text/javascript" src="js/registration.js"></script>-->
      <script>
      function get(){
          var formdata={
              user_handle : $("#Userhandle").val(),
              password:$("#userPass").val()
          }
          
         // console.log(formdata.user_handle);
          $.ajax({
              type:"POST",
              
              url:window.location +"ajaxcall",
              data : formdata,
              datatype:'json'

          })
          .done(function(data){
             // var datanew = data;
             
              var name= data[0].Name;
           


         // console.log(datanew[0].Name);
              $('#getResponse').html(name);
              window.location.href = `http://localhost:3000/home/${name}`;
              
              

            
          })
          .fail(function(jqxhr,textStatus,err){
              console.log('Ajax error',textStatus);
          });
      }
    </script>
    </body>
</html>
