<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
    <div class="header">
        <h1>Twitter</h1>
        
    </div>
    <form  id="loginform"  name="main_form">
        <h4>Login</h4>
                 
            
                 <div><label for="Userhandle">User Handle</label></div>
        <input name="user_handle" id="Userhandle" type="text" placeholder="Enter Userhandle" required >
               
                <div><label for="userPass">Password</label></div>
        <input name="password" id="userPass" type="password" required placeholder="Enter password"  >
                
        <div><a href="/forgot_pass"><label for="forgot_password" style="font-size:0.7em;">Forgot Password ? </label></a></div><br>
        <div id="errormessage"></div>
       <br> <!--<input   class="button" type="submit" value="Login" name="submit" onclick="get()" id="getButton">-->
       
       
       
      </form>	
    <center> <button  type="submit" id="getButton" class="button" onclick="get()">SUBMIT</button></center> 
      <p id="getResponse"> </p>
      <div class="signup">
      <p> <a href="registration.html">Don't Have an acccount ? </a></p><br>
     
    </div>
      <!-- <script type="text/javascript" src="js/registration.js"></script>-->
      <!-- <script src="js/ajax_calls.js"> -->
  <script src="../controllers/ajax_calls.js" charset="utf-8"></script>
      
    </script>
    </body>
</html>
