<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="css/registration.css">
<body>
    <form  name="main_form" id="registration">
        <h4>Registration info</h4>

              <div><label for="username">Name*</label></div>
        <input name="Name" id="username" type="text" placeholder="Enter name" maxlength="50" pattern="[A-Za-z]{1,50}" title="Name can not contain numbers">
        <div  class="reg" id="usernamecheck"></div><br>
                
        <div><label for="Userhandle">User Handle*</label></div>
        <input name="user_handle" id="Userhandle" type="text" placeholder="Enter Userhandle"  onchange="check_user_handle()">
        <div  class="reg" id="userhandlecheck"></div><br>   
        
        
        <div><label for="useremail">Email Address*</label></div>    
                <input name="email" id="useremail" type="email" placeholder="Enter email" maxlength="50">
        <div  class="reg" id="useremailcheck"></div><br>


                <div><label for="userPass">Password*</label></div>
                <input name="password" id="userPass" type="password" placeholder="Enter password" maxlength="20" pattern=".{6,20}"  title="6 to 20 characters">
        <div  class="reg" id="userpasswordcheck"></div><br>


                <div><label for="userConfirmPass">Confirm password*</label></div>
                <input name="password_hash" id="userConfirmPass" type="password" placeholder="Confirm password" maxlength="20" pattern=".{6,20}"  title="6 to 20 characters"> 
        <div class="reg" id="userconfpasswordcheck"></div><br>            
       
        <span id="info"></span><br>
                    
                
            
      </form>
      <input class="button" type="submit" value="Send" name="submit" onclick="formValidation()">            

        <script type="text/javascript" src="js/registration.js"></script>
    </body>
</html>
